{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                inscription
            </h1>

    {{ form_start(registrationForm) }}
        {# this line is causing the error  #}
        {# {{ form_row(registrationForm.roles) }} #}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
        S'incrire
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
